body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: chocolate;
}

header {
    text-align: center;
    font-size: 25px;
    color: white
}

section {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 0 0 rgba(0,0,0,.5);
}

div {
    margin-top: 12px;
}

p {
    margin-left: 10px;
}

#btn-gerartabuada {
    margin-top: 6px;
}

footer {
    text-align: center;
}